<!--
https://codepen.io/bradtraversy/pen/ZEGGNRb
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link   th:href="@{/css/mypage-test.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">

    <link   th:href="@{/css/item-test.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">


    <title>Title</title>
    <!--
    <script>
        document.querySelector('.menu-btn').addEventListener('click', () => document.querySelector('.main-menu').classList.toggle('show'));
    </script>-->
</head>
<body>
<div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
</div>

<!-- Nav -->
<nav class="main-nav">
    <test>농부아지야</test>
    <!--<img src="https://i.ibb.co/wwLhz98/logo.png" alt="Microsoft" class="logo">-->

    <ul class="main-menu">
        <li><a href="#">데이터확인</a></li>
        <li><a href="#">선물거래</a></li>
        <li><a href="#">뉴스정보</a></li>
        <li><a href="#">크라우드펀딩(진행예정)</a></li>
    </ul>

    <ul class="right-menu">
        <li>
            <a style="display: none" href="#">로그인</a>
            <a href="#">로그아웃</a>
        </li>
        <li>
            <a style="display: none" href="#">회원가입</a>
            <a href='#'>정보수정</a>
        </li>
        <li>
            <a href="#">마이페이지</a>
        </li>
    </ul>
</nav>

<div class="logo">
    <img
            th:src="@{/img/로고.PNG}"/>
</div>


<div class="container">


    <p class="page-name">마이페이지(생산자)</p>

    <!-- 상위 내용 -->
    <section class = "section-title">
        <div class="userinfo">
            <p class ="username">안녕하세요, "userName" 님</p>
            <button class="edit-button"> 개인정보 수정</button>
            <button class="logout-button">로그아웃</button>
        </div>
        <hr>

        <!-- 내용 선택 버튼-->
        <div class = "section-contents-list">
            <div style="border-bottom: none; color: #cbcbcb;" class="section-contents-button">
                진행중인물품(1)
            </div>
            <div  class="section-contents-button">
                판매중인물품(2)
            </div>
            <div style="border-bottom: none; color: #cbcbcb;"  class="section-contents-button">
                채팅관리(13)
            </div>
        </div>

    </section>

    <!-- 하단 내용 -->
    <section class="section-contents">
        <!-- 진행중인 물품-->
        <div style="display: none">
            <ul class="contents-ul">
                <li>
                    <img    class="img"
                            th:src="@{/img/복숭아.jpeg}">
                    <p>경산 하우스 복숭아</p>
                    <div>
                        <button class="offer-button">구매자 정보</button>
                        <button class="item-edit-button">계약서 확인</button>
                        <button class="item-edit-button">정보 수정</button>
                    </div>
                </li>

            </ul>

        </div>

        <!-- 판매중인 물품-->
        <div >
            <ul class="contents-ul">
                <li>
                    <img    class="img"
                            th:src="@{/img/사과.PNG}">
                    <p>고당도 대구 꿀 사과</p>
                    <div>
                    <button class="offer-button">견적요청보기</button>
                    <button class="item-edit-button">내용수정하기</button>
                    </div>
                </li>
                <li>
                    <img    class="img"
                            th:src="@{/img/아오리사과.jpg}">
                    <p>최저가 아오리 사과</p>
                    <div>
                    <button class="offer-button">견적요청보기</button>
                    <button class="item-edit-button">내용수정하기</button>
                    </div>
                </li>
            </ul>

        </div>

        <!-- 채팅 관리 -->
        <div style="display: none">
        </div>
    </section>


</div>

<!-- Links -->
<section class="links">
    <div class="links-inner">
        <!--
        <P>농산물 품목별 가격 및 반입량 정보 제공</P>
        <p>농산물 시장 가격 및 수요 예측 및 제공</p>
        <p>농산물 현물 및 선물 거래 플랫폼 제공</p>
        -->
        <!--
        <ul>
            <li><h3>사이트 바로가기</h3></li>
            <li><a href="#">농넷</a></li>
            <li><a href="#">KAMIS</a></li>
            <li><a href="#">한국농어촌공사</a></li>
            <li><a href="#"><영남대학교></영남대학교></a></li>
        </ul>
        <ul>
            <li><h3>Microsoft Store</h3></li>
            <li><a href="#">Account Profile</a></li>
            <li><a href="#">Download Center</a></li>
            <li><a href="#">Microsoft Store support</a></li>
            <li><a href="#">Returns</a></li>
            <li><a href="#">Older tracking</a></li>
        </ul>
        <ul>
            <li><h3>Education</h3></li>
            <li><a href="#">Microsfot in education</a></li>
            <li><a href="#">Office for students</a></li>
            <li><a href="#">Office 365 for schools</a></li>
            <li><a href="#">Deals for studentss</a></li>
            <li><a href="#">Microsfot Azure</a></li>
        </ul>
        <ul>
            <li><h3>Enterprise</h3></li>
            <li><a href="#">Azure</a></li>
            <li><a href="#">AppSource</a></li>
            <li><a href="#">Automotive</a></li>
            <li><a href="#">Government</a></li>
            <li><a href="#">Healthcare</a></li>
        </ul>
        <ul>
            <li><h3>Developer</h3></li>
            <li><a href="#">Visual Studio</a></li>
            <li><a href="#">Windowszs Dev Center</a></li>
            <li><a href="#">Developer Network</a></li>
            <li><a href="#">TechNet</a></li>
            <li><a href="#">Microsoft Developer</a></li>
        </ul>
        <ul>
            <li><h3>Company</h3></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">About Microsoft</a></li>
            <li><a href="#">Company news</a></li>
            <li><a href="#">Privacy at Microsoft</a></li>
            <li><a href="#">Inverstors</a></li>
        </ul>-->
    </div>
</section>

<!-- Footer -->
<footer class="footer">
    <div class="footer-inner">
        <div><i class="fas fa-globe fa-2x"></i> 한국어 </div>
        <ul>
            <li><a href="#">농넷</a></li>
            <li><a href="#">KAMIS</a></li>
            <li><a href="#">한국농어촌공사</a></li>
            <li><a href="#">영남대학교</a></li>
        </ul>
    </div>
</footer>

</body>
</html>